.component {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page {
  padding: 20px 50px 40px;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.sectionLabel {
  font-weight: 500;
}

.hint {
  margin-top: 4px;
}

.error {
  color: var(--error);
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 30px;
}

.spinner {
  animation: spin 1s linear infinite;
  margin-right: 8px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
