.component {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page {
  padding: 20px 50px 40px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.picture {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
}
.picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.refreshButton {
  margin-right: 8px;
}

.refreshIcon:global(.lucide-loader-2) {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 1s linear infinite;
  margin-right: 8px;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 50px;
}
