.component {
  padding: 10px 15px 0;
  height: 48px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.left {
  display: flex;
  align-items: center;
  gap: 5px;
  color: orange;
}

.right {
  display: flex;
  align-items: center;
}

.leftIcon {
  margin-top: -2px;
}

.newBookmarkButton {
  width: 40px !important;
}

.moreBookmarkOptionsButton {
  margin-left: 1px;
  width: 25px !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
  margin-right: 10px !important;
}
