/* @import url('./fonts.css'); */
@import url("./reset.css");
@import url("./variables.css");

html {
  background: var(--background-3);
  /* Ensure popup stays on top */
  z-index: 2147483647; /* Maximum z-index value */
}

body {
  color: var(--text);
  position: relative;
  z-index: 2147483647; /* Maximum z-index value */
}
