/* @import url('./fonts.css'); */
@import url("./reset.css");
@import url("./variables.css");

body {
  color: var(--text);
  min-width: 700px;
  min-height: 100vh;
  position: relative;
  z-index: 1000;
}
