:root {
  /* Legacy variables */
  --text: #fff;
  --text-light: #6e8b9c;

  --border: #393849;
  --border-radius: 5px;

  --primary: #9894f5;

  --background: #282839;
  --background-light: #434357;
  --background-dark: #1f1f31;
}
