:root {
  /* Legacy variables */
  --text: #fff;
  --text-light: #6e8b9c;

  --border: #393849;
  --border-radius: 5px;

  --primary: #9894f5;

  --background: #191927;
  --background-light: #333340;
  --background-dark: #141420;
}
