.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.left {
  flex: 1.5;
  overflow-y: auto;
  background-color: var(--background-dark);
}

.right {
  flex: 2;
  background-color: var(--background);
}
