:root {
  --text: #c7cbd3;
  --text-light: #8d9096;

  --border: #464b57;
  --border-hover: #6f7075;
  --border-radius: 2px;

  --primary: #6e56cf;
  --secondary: #fac883;

  --background-1: #57585e;
  --background-2: #2f343e;
  --background-3: #282c33;
}
