.container {
  background-color: var(--background);

  height: 100vh;
  width: 100%;

  overflow: hidden;
  position: relative;
}

.flash {
  margin: 10px;
  padding: 10px;
  border-radius: var(--border-radius);
  border: 1px solid var(--primary);
  color: var(--primary);
}
