.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.countContainer {
  padding: 10px 20px 5px;
  display: flex;
  justify-content: flex-end;
}

.list {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
}

.separator {
  height: 1px;
  border-bottom: 1px solid var(--border);
  margin: 5px 0;
}
